<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="ASGI_HANDLER" value="django.core.asgi.get_asgi_application()" />
        <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
        <add key="DJANGO_SETTINGS_MODULE" value="realtime_pr.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <remove name="Python FastCGI" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
